doctype xml
rss(version='2.0' xmlns:atom="http://www.w3.org/2005/Atom")
    channel
        atom:link(href="#{settings.baseurl}/feed/rss" rel="self" type="application/rss+xml")
        title #{settings.title}
        link #{settings.baseurl}
        description #{settings.description}
        each event in events
            item
                title [#{moment.unix(event.start_datetime).format("YY-MM-DD")}] #{event.title} @#{event.place.name}
                link #{settings.baseurl}/event/#{event.slug || event.id}
                description
                    | <![CDATA[
                    | <h4>#{event.title}</h4>
                    | <strong>#{event.place.name} - #{event.place.address}</strong>
                    | <small>(#{moment.unix(event.start_datetime).format("dddd, D MMMM HH:mm")})</small><br/>
                    if (event.media && event.media.length)
                        | <img alt="#{event.media[0].name || ''}" src="#{settings.baseurl}/media/#{event.media[0].url}"/>
                    | <pre>!{event.description}</pre>
                    | ]]>
                pubDate= new Date(event.updatedAt).toUTCString()
                guid(isPermaLink='false') #{settings.baseurl}/event/#{event.slug || event.id}
